<!-- <!DOCTYPE html> -->
<html>
  <head>
    <title>Welcome to Our Website</title>
  </head>
  <body>
    <h1>Hello <%= userName %>,</h1>
    <p>
      Thank you for registering on our website. We are excited to have you as a
      member!
    </p>
    <p>Your account details:</p>
    <ul>
      <li><strong>Email:</strong> <%= userEmail %></li>
      <li><strong>Username:</strong> <%= userName %></li>
      <!-- Add more dynamic content as needed -->
    </ul>
    <p>
      Feel free to explore our website and let us know if you have any
      questions.
    </p>
    <p>Best regards,<br />Vaibhav Raj</p>
  </body>
</html>
